:root{
    --cor-fundo:#160000;
    --cor-principal:#e27351;
    --cor-secundaria:#f7fbff;
    --cor-detaque:#6411b3;
    --cor-texto:#060607;
 }
 body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }
 .caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
    max-width: 600px;
    border-radius: 25px;
 }
 h1{
    color: var(--cor-detaque);
 }
 
 
 button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
 }
 
 
 button:hover{
    background-color: var(--cor-detaque);
    color: var(--cor-fundo);
 }
 